
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="/Content/assets/images/logo.svg" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/Content/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">

                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">@HttpContext.Current.User.Identity.Name</h5>

                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Ayarlar</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-onepassword  text-info"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Parola Değiştir</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-calendar-today text-success"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Yapılacaklar Listesi</p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link" href="/Admin/Index/">
                    <span class="menu-icon">
                        <i class="mdi mdi-speedometer"></i>
                    </span>
                    <span class="menu-title">Anasayfa</span>
                </a>
            </li>
            @if (User.IsInRole("A"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Müşteri İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Musteri/MusteriEkle">Müşteri Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Musteri/MusteriSil">Müşteri Sil</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Musteri/MusteriGuncelle">Müşteri Güncelle</a></li>
                        </ul>
                    </div>
                </li>
            }

            @if (User.IsInRole("A"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Müşteri Temsilcisi İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Temsilci/TemsilciEkle">Müşteri Temsilcisi Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Temsilci/TemsilciSil">Müşteri Temsilcisi Sil</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Temsilci/TemsilciGuncelle">Müşteri Temsilcisi Güncelle</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (User.IsInRole("M"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Hesap İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/HesapEkle">Hesap Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/HesapSil">Hesap Sil</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/HesapBakiye">Hesaba Bakiye Yükle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/HesapBakiye1">Hesaptan Bakiye Çek</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (User.IsInRole("M"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Para Tranferleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/Transfer">Hesaplar Arası Transfer</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/Transfer1">Başka Hesaba Havale</a></li>

                        </ul>
                    </div>
                </li>
            }
            <!--         
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Krediler</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Kredi/Borc">Kredi Borcu Öde</a></li>

                        </ul>
                    </div>
                </li>
            }
           -->
            @if (User.IsInRole("M"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Döviz İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/DovizAl">Döviz Alış</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Hesap/DovizSat">Döviz Satış</a></li>

                        </ul>
                    </div>
                </li>
            }
            @if (User.IsInRole("T"))
            {
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Banka İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/İslem/İslemEkle">İşlem Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/İslem/İslemSil">İşlem Sil</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/İslem/İslemGuncelle">İşlem Güncelle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                        <span class="menu-title">Makbuz İşlemleri</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/Makbuz/MakbuzEkle">Makbuz Ekle</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/Makbuz/MakbuzSil">Makbuz Sil</a></li>
                        </ul>
                    </div>
                </li>

            }


            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <span class="menu-icon">
                        <i class="mdi mdi-security"></i>
                    </span>
                    <span class="menu-title">ÇIKIŞ</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">

                        <li class="nav-item">
                            <a href="/Home/LogOut" class="top">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                        <p class="preview-subject mb-1">Çıkış</p>
                                    </div>
                                </div>


                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>
